.list{
    display: block;
}
.grid{
    display: flex;
    padding: 20px;
}
.element{
    padding-left: 0px;
    padding-right: 0px;
}
.energyCard{
    background-color: cornflowerblue !important;
}
.batteryCard{
    background-color: skyblue !important;
}
.removeButton:hover{
    background-color: salmon !important;
}
.turnOnButton{
    background-color: aquamarine !important;
}
.turnOffButton{
    background-color: salmon !important;
}
.inativo{
    color: whitesmoke;
}